This is my first Jupiter notebook

In [3]:
import pandas as pd
df = pd.read_csv('data.csv')
df.shape

(18207, 89)

Filtering the Age over 40

In [6]:
df[df['Age'] > 40].head()

,Unnamed: 0,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,...,Composure,Marking,StandingTackle,SlidingTackle,GKDiving,GKHandling,GKKicking,GKPositioning,GKReflexes,Release Clause
1120,1120,156092,J. Villar,41,https://cdn.sofifa.org/players/4/19/156092.png,Paraguay,https://cdn.sofifa.org/flags/58.png,77,77,NaN,...,55.0,13.0,13.0,14.0,75.0,75.0,74.0,78.0,77.0,NaN
4228,4228,3665,B. Nivet,41,https://cdn.sofifa.org/players/4/19/3665.png,France,https://cdn.sofifa.org/flags/18.png,71,71,ESTAC Troyes,...,82.0,58.0,56.0,43.0,11.0,7.0,8.0,14.0,7.0,NaN
4741,4741,140029,O. Pérez,45,https://cdn.sofifa.org/players/4/19/140029.png,Mexico,https://cdn.sofifa.org/flags/83.png,71,71,Pachuca,...,62.0,23.0,12.0,11.0,70.0,64.0,65.0,73.0,74.0,€272K
7225,7225,142998,C. Muñoz,41,https://cdn.sofifa.org/players/4/19/142998.png,Argentina,https://cdn.sofifa.org/flags/52.png,68,68,CD Universidad de Concepción,...,62.0,18.0,14.0,19.0,67.0,65.0,68.0,71.0,68.0,€84K
10545,10545,140183,S. Narazaki,42,https://cdn.sofifa.org/players/4/19/140183.png,Japan,https://cdn.sofifa.org/flags/163.png,65,65,Nagoya Grampus,...,45.0,27.0,24.0,22.0,64.0,63.0,62.0,67.0,63.0,€50K

Create a new df to find the best value player

In [13]:
df1 = pd.DataFrame(df, columns=['Name', 'Wage', 'Value'])

def value_to_float(x):
    if type(x) == float or type(x) == int:
        return x
    if 'K' in x:
        if len(x) > 1:
            return float(x.replace('K', '')) * 1000
        return 1000.0
    if 'M' in x:
        if len(x) > 1:
            return float(x.replace('M', '')) * 1000000
        return 1000000.0
    if 'B' in x:
        return float(x.replace('B', '')) * 1000000000
    return 0.0


wage = df1['Wage'].replace(['\€'], '', regex=True).apply(value_to_float)
value = df1['Value'].replace(['\€'], '', regex=True).apply(value_to_float)

df1['Wage'] = wage
df1['Value'] = value

df1['Diff'] = df1['Value'] - df1['Wage']
df1.sort_values('Diff', ascending=False)

               Name      Wage        Value         Diff
2         Neymar Jr  290000.0  118500000.0  118210000.0
0          L. Messi  565000.0  110500000.0  109935000.0
4      K. De Bruyne  355000.0  102000000.0  101645000.0
5         E. Hazard  340000.0   93000000.0   92660000.0
15        P. Dybala  205000.0   89000000.0   88795000.0
...             ...       ...          ...          ...
17752   S. Phillips    1000.0          0.0      -1000.0
12192  H. Sulaimani    3000.0          0.0      -3000.0
3550    S. Nakamura    4000.0          0.0      -4000.0
4228       B. Nivet    5000.0          0.0      -5000.0
864          Hilton   18000.0          0.0     -18000.0

[18207 rows x 4 columns]